<div class="container section benefit">
  <h3 class="center-align section-title">
    {{ 'HOME.BENEFIT.TITLE' | translate }}
  </h3>
  <div class="row">
    <div class="col s12 m12 l6">
      <div class="row valign-wrapper">
        <div class="col s2 center-align">
          <i class="fas fa-hamburger fa-5x"></i>
        </div>
        <div class="col s10">
          <p>
            {{ 'HOME.BENEFIT.FOOD' | translate}}
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6">
      <div class="row valign-wrapper">
        <div class="col s2">
          <i class="fas fa-chalkboard-teacher fa-5x"></i>
        </div>
        <div class="col s10">
          <p>
            {{ 'HOME.BENEFIT.COACHING' | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l6">
      <div class="row valign-wrapper">
        <div class="col s2">
          <i class="fas fa-coffee fa-5x"></i>
        </div>
        <div class="col s10">
          <p>
            {{ 'HOME.BENEFIT.COFFEE' | translate}}
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6">
      <div class="row valign-wrapper">
        <div class="col s2">
          <i class="fas fa-tshirt fa-5x"></i>
        </div>
        <div class="col s10">
          <p>
            {{ 'HOME.BENEFIT.TSHIRT' | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l6">
      <div class="row valign-wrapper">
        <div class="col s2">
          <i class="fas fa-wifi fa-5x"></i>
        </div>
        <div class="col s10">
          <p>
            {{ 'HOME.BENEFIT.WIFI' | translate}}
          </p>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6">
      <div class="row valign-wrapper">
        <div class="col s2">
          <i class="fas fa-pencil-alt fa-5x"></i>
        </div>
        <div class="col s10">
          <p>
            {{ 'HOME.BENEFIT.STATIONERY' | translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="divider"></div>
</div>
