<div class="container section center-align">
  <ng-container *ngIf="!countdownService.eventAlreadyStarted">
    <ng-container *ngIf="(countdownService.timeRemaining$ | async) as timeRemaining">
      <div class="hide-on-small-only">
        <div class="row">
          <div class="col s3">
            <div class="card">
              <div class="section">
                <h4>{{ timeRemaining.days | twoDigitsTransform }}</h4>
              </div>
              <div class="card-content">
                <span class="highlight-text">{{ 'HOME.COUNTDOWN.DAYS' | translate }}</span>
              </div>
            </div>
          </div>
          <div class="col s3">
            <div class="card">
              <div class="section">
                <h4>{{ timeRemaining.hours | twoDigitsTransform }}</h4>
              </div>
              <div class="card-content">
                <span class="highlight-text">{{ 'HOME.COUNTDOWN.HOURS' | translate }}</span>
              </div>
            </div>
          </div>
          <div class="col s3">
            <div class="card">
              <div class="section">
                <h4>{{ timeRemaining.minutes | twoDigitsTransform }}</h4>
              </div>
              <div class="card-content">
                <span class="highlight-text">{{ 'HOME.COUNTDOWN.MINUTES' | translate }}</span>
              </div>
            </div>
          </div>
          <div class="col s3">
            <div class="card">
              <div class="section">
                <h4>{{ timeRemaining.seconds | twoDigitsTransform }}</h4>
              </div>
              <div class="card-content">
                <span class="highlight-text">{{ 'HOME.COUNTDOWN.SECONDS' | translate }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hide-on-med-and-up">
        <div class="row">
          <div class="col s12">
            <div class="card section">
              <b class="truncate">
                {{ 'HOME.COUNTDOWN.DAYS' | translate }}: {{ timeRemaining.days | twoDigitsTransform }} |
                {{ 'HOME.COUNTDOWN.HOURS' | translate }}: {{ timeRemaining.hours | twoDigitsTransform }} |
                {{ 'HOME.COUNTDOWN.MINUTES' | translate }}: {{ timeRemaining.minutes | twoDigitsTransform }}
              </b>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="countdownService.eventAlreadyStarted">
    {{ 'HOME.COUNTDOWN.ALREADY_STARTED' | translate }}
  </ng-container>
</div>
