@import '../../../styles.colors';
@import '../../../styles.variables';

.card {
  @media #{$extra-large-and-up} {
    margin: 0.5rem 1.5rem 1rem;
  }
}

.card-image {
  position: relative;
  height: 300px;
}

.card-content {
  position: relative;
  height: 300px;

  p {
    overflow: hidden;
    line-height: 1.5em;
  }

  .button-container {
    position: absolute;
    width: calc(100% - 48px);
    bottom: 24px;
  }
}

.title-event {
  color: $input-background;
  position: absolute;
  top: 0;
  padding-top: 0;
  width: 100%;
}

.image-container {
  background: $primary-color;

  .image {
    max-height: 100%;
    padding: 70px 20px 20px;
  }
}

.logo-sw {
  margin: 10px 0;
  width: 100%;
}

.place {
  max-height: 3em;
}

.date {
  max-height: 1.5em;
}
