<div class="container section center-align">
  <div class="row">
    <h3 class="section-title">{{ 'HOME.EVENT.TITLE' | translate }}</h3>
    <div class="container-cards">
      <ng-container *ngIf="(events$ | async) as events">
        <div *ngIf="events.length > 0; else comingSoon">
          <div *ngFor="let event of events" class="col s12 m4">
            <div class="card">
              <div class="column">
                <div class="card-image image-item image-container">
                  <h5 class="title-event">{{ event.name }}</h5>
                  <img class="image" [src]="event.logoUrl" [alt]="event.name">
                </div>
                <div class="card-content">
                  <img class="logo-sw" [src]="event.bannerUrl" [alt]="event.name">
                  <p>{{ event.place }}</p>
                  <p>{{ event.date.toDate() | date: 'mediumDate':'es' }}</p>
                  <div class="btn-large button waves-effect">
                    <a class="text-button" target="_blank" rel="noopener noreferrer" [href]="event.link">
                      {{ 'HOME.BANNER.REGISTER' | translate }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ng-template #comingSoon>
          <h5>{{ 'HOME.EVENT.COMING_SOON' | translate }}</h5>
        </ng-template>
      </ng-container>
    </div>
  </div>
</div>
