@import '../../../styles.colors';
@import '../../../styles.variables';

.image-container {
  background: $tabs-text-color;
  cursor: pointer;
  @media #{$medium-and-up} {
    min-height: 453px;
  }
}

.logo-sw {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.image {
  padding: 20px 60px 60px;
}

.card {
  max-width: 345px;
}

.container-cards {
  width: 100%;
  justify-content: center;
}

.button-container {
  margin-top: 10px;
}

.title-event {
  color: $input-background;
  padding-top: 40px;
}
