<div class="container section">
  <h3 class="center-align section-title">
    {{ 'HOME.REGISTER.TITLE' | translate }}
  </h3>
  <div class="row">
    <div class="col">
      <p>
        {{ 'HOME.REGISTER.PRICE_TITLE' | translate }}
      </p>
      <ul>
        <li>
          <s>{{ 'HOME.REGISTER.EARLY_BIRD' | translate }}</s>
        </li>
        <li>
          {{ 'HOME.REGISTER.REGULAR_PRICE' | translate }}
        </li>
      </ul>
    </div>
  </div>
  <div class="hide-on-small-only">
    <mat-horizontal-stepper [linear]="isLinear">
      <mat-step [label]="'HOME.REGISTER.PAYMENT_METHOD.TITLE' | translate">
        <div class="right-align">
          <button class="btn secondary-btn waves-effect waves-light" matStepperNext>{{ 'HOME.REGISTER.BUTTONS.NEXT' | translate }}</button>
        </div>
        <sw-choose-payment-method></sw-choose-payment-method>
      </mat-step>
      <mat-step [label]="'HOME.REGISTER.INFO.TITLE' | translate">
        <div class="right-align">
          <button class="btn waves-effect waves-light" matStepperPrevious>{{ 'HOME.REGISTER.BUTTONS.BACK' | translate }}</button>
          <button class="btn secondary-btn waves-effect waves-light" matStepperNext>{{ 'HOME.REGISTER.BUTTONS.NEXT' | translate }}</button>
        </div>
        <sw-register-your-info></sw-register-your-info>
      </mat-step>
      <mat-step [label]="'HOME.REGISTER.THANKS.TITLE' | translate">
        <sw-thanks></sw-thanks>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
  <div class="hide-on-med-and-up">
    <mat-vertical-stepper [linear]="isLinear">
      <mat-step [label]="'HOME.REGISTER.PAYMENT_METHOD.TITLE' | translate">
        <sw-choose-payment-method></sw-choose-payment-method>
        <div class="right-align">
          <button class="btn waves-effect waves-light" matStepperNext>{{ 'HOME.REGISTER.BUTTONS.NEXT' | translate }}</button>
        </div>
      </mat-step>
      <mat-step [label]="'HOME.REGISTER.INFO.TITLE' | translate">
        <sw-register-your-info></sw-register-your-info>
        <div class="right-align">
          <button class="btn waves-effect waves-light" matStepperPrevious>{{ 'HOME.REGISTER.BUTTONS.BACK' | translate }}</button>
          <button class="btn secondary-btn waves-effect waves-light" matStepperNext>{{ 'HOME.REGISTER.BUTTONS.NEXT' | translate }}</button>
        </div>
      </mat-step>
      <mat-step [label]="'HOME.REGISTER.THANKS.TITLE' | translate">
        <sw-thanks></sw-thanks>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
