@import '../../../styles.colors';
@import '../../../styles.variables';

.parallax-container {
  height: 100vh;
}

#banner-container {
  padding-top: 3%;
}

#sw-isotype {
  width: 180px;
  height: auto;
  max-width: 100%;
}

#sw-logotype {
  width: 450px;
  height: 70px;
  max-width: 100%;
  margin-bottom: 50px;
}

#place-and-date {
  padding: 15px;
  border: 1px solid $secondary-color;
  font-weight: bolder;
  color: $secondary-color;

  @media #{$medium-and-up} {
    display: inline;
  }
}

#slogan {
  margin: 30px 0px;
  font-weight: bolder;
  color: $secondary-color;

  @media #{$medium-and-up} {
    font-size: $h4-fontsize;
  }
}

#sw-detail {
  margin-bottom: 30px;
  color: $secondary-color;
}
