<div swTransparentNavbar class="parallax-container top-section valign-wrapper">
  <div class="parallax-container-data center-align">
    <div class="container">
      <div class="row">
        <img id="banner-logo-icon" src="assets/images/banner/sww-illustration.png" [alt]="'MAIN-EVENT.NAME' | translate">
        <br>
        <img id="banner-logo" src="assets/images/banner/sww-logo-white.png" [alt]="'MAIN-EVENT.NAME' | translate">
        <span class="space"></span>
        <h6 id="place-and-date" class="border-place-and-date">{{ 'MAIN-EVENT.PLACE-AND-DATE' | translate }}</h6>
        <h1 class="section-title">{{ 'MAIN-EVENT.SLOGAN' | translate }}</h1>
        <h6 class="about">{{ 'ABOUT.DETAIL' | translate }}</h6>
        <br>
        <a class="btn-large white sign-up" [href]="registrationFormUrl" target="_blank" rel="noopener noreferrer">
          {{ 'MAIN-EVENT.CALL-TO-ACTION' | translate }}
        </a>
      </div>
    </div>
  </div>
  <div swParallax class="parallax">
    <img src="assets/images/banner/mainbg.png" [alt]="'MAIN-EVENT.NAME' | translate"/>
  </div>
</div>
