<div swTransparentNavbar class="parallax-container top-section valign-wrapper">
  <div class="parallax-container-data center-align">
    <div class="container">
      <div class="row">
        <img id="banner-logo-icon" src="assets/images/banner/sww-illustration.png" [alt]="'main-event.name' | translate">
        <br/>
        <img id="banner-logo" src="assets/images/banner/sww-logo-white.png" [alt]="'main-event.name' | translate">
        <span class="space"></span>
        <h6 id="place-and-date" class="border-place-and-date">{{ 'main-event.place-and-date' | translate }}</h6>
        <h1 class="section-title">{{ 'main-event.slogan' | translate }}</h1>
        <h6 class="about">{{ 'about.detail' | translate }}</h6>
        <br/>
        <a class="btn-large white sign-up" [href]="registrationFormUrl" target="_blank" rel="noopener noreferrer">
          {{ 'main-event.call-to-action' | translate }}
        </a>
      </div>
    </div>
  </div>
  <div swParallax class="parallax">
    <img src="assets/images/banner/mainbg.png" [alt]="'Startup Weekend'"/>
  </div>
</div>
