<p>
  {{ 'HOME.REGISTER.PAYMENT_METHOD.SUBTITLE' | translate }}
</p>
<p>
  {{ 'HOME.REGISTER.PAYMENT_METHOD.BANK_DEPOSIT' | translate }}
</p>
<ul>
  <li>
    {{ 'HOME.REGISTER.PAYMENT_METHOD.ACCOUNT_ONE' | translate }}
  </li>
  <li>
    {{ 'HOME.REGISTER.PAYMENT_METHOD.ACCOUNT_TWO' | translate }}
  </li>
</ul>
<p>
  {{ 'HOME.REGISTER.PAYMENT_METHOD.POINTS_OF_SALE' | translate }}
</p>
<ul>
  <li>
    {{ 'HOME.REGISTER.PAYMENT_METHOD.POS_ONE' | translate }}
  </li>
</ul>
<p>
  {{ 'HOME.REGISTER.PAYMENT_METHOD.QR_CODE' | translate }}
</p>
<div class="center-align">
  <img class="simple-code-img" [src]="simpleQRCodePath" [alt]="'HOME.REGISTER.PAYMENT_METHOD.QR_CODE' | translate">
</div>
