@import './styles.colors';
@import './styles.variables';
@import '~materialize-css/sass/materialize';
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat'
);

@include mat-core($custom-typography);

body {
  font-family: 'Montserrat', sans-serif;
}

sw-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a {
  cursor: pointer;
}

p {
  font-size: $paragraph-font-size;
}

.btn {
  color: $primary-color !important;
  font-weight: bold !important;
}

.secondary-btn,
.secondary-btn:hover,
.secondary-btn:focus {
  color: $secondary-color !important;
  font-weight: bold !important;
  background-color: $primary-color;
}

.top-section {
  position: relative;
  z-index: 997;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;

  &-title {
    font-weight: bold;
  }
}

.parallax-container {
  height: calc(100vh - 56px);
  min-height: $parallax-min-height;
  background-color: rgba($primary-color-dark, 0.5);

  @media #{$medium-and-up} {
    height: calc(100vh - 64px);
  }

  &-data {
    width: 100%;
  }
}
