@import '~materialize-css/sass/components/color-variables';
@import '~materialize-css/sass/components/variables';

$paragraph-font-size: 20px;
$parallax-min-height: 700px !default;
$title-font-size: 25px;
