<div class="container section">
  <h3 class="center-align section-title">
    {{ 'HOME.ABOUT.TITLE' | translate }}
  </h3>
  <p>
    <span id="sw-name">{{ swName }}</span>
    {{ 'HOME.ABOUT.DESCRIPTION' | translate }}
  </p>

  <div id="place-and-date" class="row">
    <div class="col s12 center-align">
      <i class="far fa-calendar-alt fa-4x"></i>
      <h4>{{ 'HOME.ABOUT.DATE' | translate }}</h4>
      <h5>{{ 'HOME.ABOUT.PLACE' | translate }}</h5>
      <h6>{{ eventCity }}</h6>
    </div>
  </div>
  <div class="divider"></div>

  <sw-more-details></sw-more-details>
</div>
