<header>
  <nav class="transparent">
    <div class="nav-wrapper">
      <a routerLink="/" class="brand-logo">
        <img id="sw-logotype" src="assets/images/sw-logo.svg" class="hide-on-large-only" [alt]="eventName">
        <img id="sw-logotype" src="assets/images/sww-logo-white.svg" class="hide-on-med-and-down" [alt]="eventName">
      </a>
      <a data-target="mobile-menu" class="sidenav-trigger">
        <i class="fas fa-bars"></i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#banner">{{ 'NAVBAR.HOME' | translate }}</a></li>
        <li><a href="#about">{{ 'NAVBAR.ABOUT' | translate }}</a></li>
        <li><a href="#events">{{ 'NAVBAR.EVENTS' | translate }}</a></li>
        <li><a href="#partners">{{ 'NAVBAR.PARTNERS' | translate }}</a></li>
        <li><a routerLink="schedule">{{ 'NAVBAR.SCHEDULE' | translate }}</a></li>
        <li><a href="#mentors">{{ 'NAVBAR.MENTORS' | translate }}</a></li>
        <li>
          <a class="btn waves-effect waves-light" href="#registration">
            {{ 'NAVBAR.REGISTER' | translate }}
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <ul swSidenav class="sidenav" id="mobile-menu">
    <li><a class="sidenav-close" href="#banner">{{ 'NAVBAR.HOME' | translate }}</a></li>
    <li><a class="sidenav-close" href="#about">{{ 'NAVBAR.ABOUT' | translate }}</a></li>
    <li><a class="sidenav-close" href="#events">{{ 'NAVBAR.EVENTS' | translate }}</a></li>
    <li><a class="sidenav-close" href="#partners">{{ 'NAVBAR.PARTNERS' | translate }}</a></li>
    <li><a class="sidenav-close" routerLink="schedule">{{ 'NAVBAR.SCHEDULE' | translate }}</a></li>
    <li><a class="sidenav-close" href="#mentors">{{ 'NAVBAR.MENTORS' | translate }}</a></li>
    <li>
      <a class="btn waves-effect waves-light sidenav-close" href="#registration">
        {{ 'NAVBAR.REGISTER' | translate }}
      </a>
    </li>
  </ul>

  <div id="navbar-background"></div>
</header>
